<h4>Hi <%= @user.defaul_first_name %></h4>

<p>Your <%= @document.document_type %> titled <%= @document.title %> was uploaded and is now under review. Once successfully reviewed, you will get paid every time this document is viewed and referenced.</p> 

<p>Why not <a href="http://looku.co/friends/invite">Invite friends</a> to join Looku and start getting paid when your work is viewed and referenced!</p>

<p>Knowledge really is power. Don’t waste it, RECYCLE IT!</p>

<p>The Looku.co team”</p>

