<h4>“Hi <%= @email.split("@").first.titlecase %>,</h4>

<p>
  <%= @name.present? ? @name.titlecase : "Your friend" %><%= @college.present? ? " at #{@college}" : "" %> has invited to check out Looku.co, the smarter way to learn and get paid as a student or graduate.
</p>
<p>
    Looku.co is an intuitive knowledge sharing marketplace where students and graduates get paid for recycling and sharing their gained and applied academic knowledge, to help other students improve their grades as they learn directly from those who have completed their exact or similar module or course.
</p>
<p>Why should you join Looku? </p>

<p>
<ul style="padding: 0 30px;">
  <li style="padding: 10px 0;">
    Get rewarded for your hard work as you recycle your academic knowledge .
  </li>
  <li style="padding: 10px 0;">
    Improve your grades by learning from others who have completed the same course.
  </li>
  <li style="padding: 10px 0;">
    Increase your credibility as your academic work is referenced by students everywhere.
  </li>
  <li style="padding: 10px 0;">
    Improve your employment prospects by sharing your unique Looku profile with employers.
  </li>
</ul>
</p>

<p>
  We believe knowledge really is power, so why waste it when it can be recycled, and you get paid for it!
</p>

<p>
 Don’t just take our word for it, go to Looku.co and join other students and graduates like you who have already signed up.
</p>

<p>
  See you at <a href="http://looku.co/">Looku.co</a>
</p>
<p>&nbsp;</p>

<p>
  The LOOKU team.”
</p>