<div class="row" style="height: 50px;"></div>

<div class="container">

  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <h1 class="h-slim about-header">What is looku</h1>
    </div>

    <div class="col-md-6 about-item-description col-md-offset-1">
        <p class="text-large text-light">
          Looku is a knowledge sharing marketplace that empowers every student to achieve the academic success they want by learning from existing students and graduates who have completed the same or similar academic module, course or subject.
          Like anything in life, the best way to learn is from those who have achieved what you are trying to achieve and we believe the same applies for your education.
        </p>
    </div>
  </div> <!-- End what is looku -->

  <div class="row" style="height: 50px;"></div>

  <div class="row">
    <div class="col-md-6 about-item-description col-md-offset-1">
      <p class="text-large text-light">
        Our mission is to help all students achieve their maximum potential by providing access to gained
        and applied knowledge from current and graduated students around the world
        who have successfully completed the same or similar subject, module or course.
      </p>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <h1 class="h-slim about-header">Our mission</h1>
    </div>
  </div> <!-- End our mission -->

  <div class="row" style="height: 50px;"></div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h1 class="about-large-header row  about-orange-border">
        What makes Looku different?
      </h1>
    </div>

    <div class="col-md-10 col-md-offset-1 ">
      <div class="text-justify row">
        <p>
        <h3 style="background: #ffffff; padding: 15px; border-radius: 10px; display: table" class="about-orange-border">
          For Existing students
        </h3>

        <p style="background: #ffffff; padding: 15px; border-radius: 10px; margin-top: 10px" class="about-orange-border">
        As an existing student, you will learn directly from students and graduates
        who have achieved the grades you want from your academic modules, course or subject.
        With Looku you will gain new knowledge, expand your understanding,
        see new points of view and start achieving the academic results you really want.
        </p>

        <div class="row" style="height: 20px;"></div>
        <h3 style="background: #ffffff; padding: 15px; border-radius: 10px; display: table" class="about-orange-border">
          For students and graduates
        </h3>
        <p style="background: #ffffff; padding: 15px; border-radius: 10px; margin-top: 10px" class="about-orange-border">
        As a student or graduate, you will get paid every time your academic work is viewed by any student on the Looku marketplace.
        You can also share your unique Looku profile to attract the best employment opportunities,
        increase your credibility as your academic work is referenced by students everywhere and much more!
        </p>
      </div>
    </div>
  </div> <!-- What makes Looku different? -->
</div>