<h1>
  SIMPLY DISTINCTIONS LTD T/A LOOKU
<br/>
  Terms of Use / End User Agreement
</h1>

<p>
  SIMPLYDISTINCTIONS LTD may be referred to herein as "LOOKU", "LOOKU.CO",

"MYLOOKU.COM", "LOOKU.CO.UK", "GETLOOKU.COM", "WE" OR "US", whether in

uppercase, lowercase, or a combination.
</p>

<p>
  The Terms/End User Agreement of accessing services, offerings, Content, products, or applications,

by way of the internet web site accessed via "LOOKU", "LOOKU.CO", "MYLOOKU.COM",

"LOOKU.CO.UK", "GETLOOKU.COM", or by way of a mobile device, smart-phone, tablet, reader,

application or app, software, tangible content medium (including a DVD or flash drive), Facebook,

Twitter, a video service (such as YouTube or Vimeo) (whether "LOOKU", "LOOKU.CO",

"MYLOOKU.COM", "LOOKU.CO.UK", "GETLOOKU.COM",  is affiliated with them or not), or any other

device or method now known or developed in the future (individually and collectively, "the," "any," or

"a" ""LOOKU", "LOOKU.CO", "MYLOOKU.COM", "LOOKU.CO.UK", "GETLOOKU.COM" Platform")

the terms and conditions set forth below and in the frequently asked questions ("FAQs") where such

FAQs specifically indicate they are integrated into this, the, or these Terms Of Service / End User

Agreement (collectively, "Terms") govern Your viewing, entering, or using any "LOOKU",

"LOOKU.CO", "MYLOOKU.COM", "LOOKU.CO.UK", "GETLOOKU.COM" PLATFORM, and any of the

offerings, Content, products, and services of "LOOKU", "LOOKU.CO", "MYLOOKU.COM",

"LOOKU.CO.UK", "GETLOOKU.COM". These Terms are a legal contract between "LOOKU",

"LOOKU.CO", "MYLOOKU.COM", "LOOKU.CO.UK", "GETLOOKU.COM" and You, an individual user,

or if You are using or subscribing to or making a purchase from "LOOKU", "LOOKU.CO",

"MYLOOKU.COM", "LOOKU.CO.UK", "GETLOOKU.COM", on behalf of any entity -- including a

company, organization, or trust, no matter the legal form of the entity -- ("entity"), then You represent

and warrant that You are an authorized representative of that entity with the authority to bind such

entity to the Terms, and agree to be bound by the Terms on behalf of such entity ("You," "user," or,

collectively, "users," whether in uppercase, lowercase, or a combination).
</p>

<p>
  Your use of any "LOOKU", "LOOKU.CO", "MYLOOKU.COM", "LOOKU.CO.UK", "GETLOOKU.COM",

Platform, offerings, Content, products, services, or any information contained on or through any

"LOOKU", "LOOKU.CO", "MYLOOKU.COM", "LOOKU.CO.UK", "GETLOOKU.COM" Platform shall be

deemed to be Your agreement to abide and be bound by each of the Terms set forth herein. Users

who utilize the "LOOKU", "LOOKU.CO", "MYLOOKU.COM", "LOOKU.CO.UK", "GETLOOKU.COM"

service, a service that allows Users to buy and/or sell User Content through the Site ("LOOKU",

"LOOKU.CO", "MYLOOKU.COM", "LOOKU.CO.UK", "GETLOOKU.COM") are bound by the Terms of

Service in addition to these Terms. You acknowledge that You have read and understood, and agree

to be bound by, the Terms (and conditions).
</p>

<h2>1 ELIGIBILITY</h2>

<p>The Content on or from any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo; &nbsp;Platform may not be resold or relicensed.</p>

<h2>2 MODIFICATION OF TERMS</h2>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &nbsp;may make&nbsp;</p>

<p>changes to the Terms, any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo; Platform, content, or services at any time. The latest Terms will be posted or be&nbsp;</p>

<p>available through&nbsp;&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, &nbsp;and You agree that You should always review them prior to using any &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform, Content, or&nbsp;</p>

<p>services. Except as stated elsewhere, all amended Terms shall automatically be effective as soon as&nbsp;</p>

<p>they are initially posted except if &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo; states that it is giving advance notice of any amended term to be effective on a&nbsp;</p>

<p>date in the future. &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo; is not obligated to provide notice of amendment to the Terms: the making&nbsp;</p>

<p>available or posting of the Terms on &nbsp;&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; without more is deemed and agreed to be sufficient notice of&nbsp;</p>

<p>amendment(s).</p>

<h2>3 &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</h2>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; LICENSE GRANT</p>

<h3>3.1 General</h3>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; provides or&nbsp;</p>

<p>makes available Content and services through the &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; Platform. Certain information, documents, works, products,&nbsp;</p>

<p>offerings, and services provided on and through a &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; Platform, including content, logos, graphics, and images&nbsp;</p>

<p>(together, the &quot;Materials&quot;) and User Content (as defined below) are provided to You by or by way of&nbsp;</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, (including as an&nbsp;</p>

<p>interactive computer service or online service provider) or a &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; Platform and are the copyrighted work or&nbsp;</p>

<p>works and/or trademarks of &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, or &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, &nbsp;contributors, that is, any person or entity that makes Materials available on or by&nbsp;</p>

<p>way of &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &nbsp;or any&nbsp;</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; Platform, either&nbsp;</p>

<p>publicly or privately. (Materials, User Content, and Third Party Content [as defined below], may be&nbsp;</p>

<p>referred to individually and collectively as &ldquo;Content.&rdquo; Hereinafter the use of the term &ldquo;Content&rdquo; shall be&nbsp;</p>

<p>deemed to exclude trademarks from its definition).</p>

<p>Other than as specifically set forth in the Terms (or a separate written agreement), &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; does not grant any license&nbsp;</p>

<p>or right to use, reproduce, or display any trademark, except You may display the &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; trademark on Your website,&nbsp;</p>

<p>unaltered, in the embeddable &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo; viewer when You use the embeddable &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; viewer (see, &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;).</p>

<p>As set forth herein, and conditional upon Your agreement to the Terms, &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, grants You a limited, personal, non-</p>

<p>exclusive, and non-transferable license to use and to display the Content and to access and use the&nbsp;</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; Platform and the&nbsp;</p>

<p>services of the &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;&nbsp;</p>

<p>Platform solely for Your own personal or business use.</p>

<p>(**If Your business involves advising any third party about any of the matters in any Content, then You&nbsp;</p>

<p>must purchase a separate membership or license for and in connection with the re-use or re-</p>

<p>purposing of any Content for or in connection with each third party You advise or supply any such&nbsp;</p>

<p>Content to, whether re-purposed or modified or not. Please note all terms in the Terms regarding what&nbsp;</p>

<p>may and what may not be done with various Content. You must also notify each such third-party in&nbsp;</p>

<p>writing that he, she, or it may not resell, re-license, republish, distribute, or transmit any aspect of any&nbsp;</p>

<p>Content.)</p>

<p>Please note all terms in the Terms regarding what may and what may not be done with various&nbsp;</p>

<p>Content. You must also notify each such third party in writing that he, she, or it may not a) resell, re-</p>

<p>license, republish, distribute, or transmit any aspect of any Content; (b) use any aspect of any Content&nbsp;</p>

<p>obtained from or through &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, &nbsp;to develop as a component of any information, storage and retrieval system,&nbsp;</p>

<p>database, information base, or similar resource (in media or technology now existing or later&nbsp;</p>

<p>developed) that is offered for commercial use or distribution of any kind, including through sale,&nbsp;</p>

<p>license, lease, rental subscription, or any other commercial distribution mechanism; (c) create&nbsp;</p>

<p>compilation or derivative works of any Content from or through &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &nbsp;in any manner that may infringe on any&nbsp;</p>

<p>copyright, intellectual property right, proprietary right, or any property right of &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, or any rights holder; (d) remove, change,&nbsp;</p>

<p>or obscure any copyright, trademark, confidentiality notice, or other proprietary notice, or terms of use,&nbsp;</p>

<p>contained in, on, or through any Content or &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform; (e) make any aspect of any Content or any&nbsp;</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform&nbsp;</p>

<p>available through any timesharing system, service bureau, the internet, or any other technology now&nbsp;</p>

<p>existing or later developed. &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, may utilize digital rights management technologies, including those that limit the&nbsp;</p>

<p>number of times that You may view or transfer or print any aspect of any Content.</p>

<p>You may not reverse engineer any aspect of &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &nbsp;Platform.</p>

<p>This limited license terminates automatically, without notice to You, if You breach any term, condition,&nbsp;</p>

<p>covenant, agreement, warranty, or representation of the Terms. Upon termination of this limited&nbsp;</p>

<p>license, You agree to immediately destroy any downloaded or printed Content and all copies thereof,&nbsp;</p>

<p>including backup or archival copies. Except as stated herein, You acknowledge that You have no&nbsp;</p>

<p>right, title, or interest in or to any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo; Platform or Content.</p>

<h3>3.2 License Grant to Loan and Use Content</h3>

<p>Subject to Your compliance with the terms and conditions set out in the Terms, &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &nbsp;hereby grants to You a&nbsp;</p>

<p>personal, limited, non-exclusive, non-transferable, freely revocable license to view viewable Content&nbsp;</p>

<p>as a loan, through &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo; Platform subject to the license under which such User Content and Materials are&nbsp;</p>

<p>made available and distributed.</p>

<p>If You are a &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &nbsp;</p>

<p>Loan Subscriber, subject to Your compliance with the terms and conditions set out in these Terms,&nbsp;</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, hereby grants to&nbsp;</p>

<p>You a personal, limited, non-exclusive, non-transferable, freely revocable license to view complete&nbsp;</p>

<p>document available solely through a &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo; &nbsp;Platform subject to the license under which such Content is distributed or made&nbsp;</p>

<p>available. Any distribution, resale, or re-licensing of any aspect of any Content to third parties for any&nbsp;</p>

<p>reason is strictly prohibited,&nbsp;</p>

<p>Users who utilize the &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, &nbsp;service, a service that allows Users to buy and/or sell User Content through the&nbsp;</p>

<p>Site (the &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &quot;), are&nbsp;</p>

<p>bound by the &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;,&nbsp;</p>

<p>Terms of Service in addition to these Terms. The &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &nbsp;Terms of Service contract is available&nbsp;here&nbsp;and is hereby&nbsp;</p>

<p>incorporated by reference into these Terms, as applicable.</p>

<p>Content available through &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, &nbsp;is either &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, &ldquo;Content&rdquo; or &quot;User Content.&quot; See section 3.3.</p>

<h3>3.3 License Grant to Upload</h3>

<p>YOU WILL NOT UPLOAD WORKS THAT YOU DO NOT HAVE THE RIGHTS TO. YOU WILL NOT&nbsp;</p>

<p>INFRINGE UPON THE COPYRIGHT OR ANY OTHER RIGHT OF ANY OTHER PERSON OR&nbsp;</p>

<p>ENTITY.</p>

<p>Subject to Your compliance with the terms and conditions set out in these Terms, &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &nbsp;hereby grants to You a&nbsp;</p>

<p>personal, limited, non-exclusive, non-transferable, freely revocable license to use the &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &nbsp;Platform for the uploading,&nbsp;</p>

<p>submitting, posting, distributing, or otherwise making available of authorized digital content, including&nbsp;</p>

<p>electronic documents, information, messages, comments, or other content or material (&quot;User&nbsp;</p>

<p>Content&quot;).</p>

<p>User Content uploaded by You is at Your own risk. Notwithstanding any obligations hereunder of&nbsp;</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &nbsp;to protect User&nbsp;</p>

<p>Content with these Terms or security measures, &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &nbsp;cannot and does not guarantee that there will be no&nbsp;</p>

<p>unauthorized copying, distribution, or deletion of User Content nor will &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, &nbsp;be liable for any copying or usage of the&nbsp;</p>

<p>User Content not authorized by &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, &nbsp;or You.</p>

<h3>3.4 Reservation of Rights</h3>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, reserves all&nbsp;</p>

<p>rights not expressly granted in these Terms.</p>

<h3>3.5 Prevention of Unauthorized Use</h3>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, reserves the&nbsp;</p>

<p>right to exercise whatever lawful means it deems necessary to prevent unauthorized use of Content&nbsp;</p>

<p>and any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;,&nbsp;</p>

<p>Platform, including, but not limited to, technological barriers, IP mapping, and directly contacting Your&nbsp;</p>

<p>Internet Service Provider (ISP) regarding such unauthorized use. &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, reserves the right to monitor Your use of&nbsp;</p>

<p>any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform to&nbsp;</p>

<p>ensure compliance with this Agreement. If &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;,, or its affiliates, in their sole and unfettered discretion,&nbsp;</p>

<p>determine that You are not in compliance with this Agreement, &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, reserves the right to take such action&nbsp;</p>

<p>deemed necessary to resolve this issue.</p>

<h2>4 USER CONTENT LICENSE GRANT; REPRESENTATIONS&nbsp;</h2>

<p>AND WARRANTIES</p>

<h3>4.1 Retention of Ownership</h3>

<p>You retain all of Your ownership rights in User Content owned by You, unless You choose to give up&nbsp;</p>

<p>any ownership right.</p>

<h3>4.2 License Grant to MYLOOKU.COM</h3>

<p>Unless otherwise agreed to in a separate written agreement between You and &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, signed by an authorized&nbsp;</p>

<p>representative of &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;,&nbsp;</p>

<p>by pen on paper:</p>

<p>a) By uploading, making available for upload, distributing, or disseminating User Content through the&nbsp;</p>

<p>Site, You hereby grant to &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, a worldwide, non-exclusive, transferable, assignable, fully paid-up, royalty-free,&nbsp;</p>

<p>license to host, transfer, display, perform, reproduce, distribute, compress or convert for distribution,&nbsp;</p>

<p>and otherwise use and sell or license Your User Content, in any media format and through any media&nbsp;</p>

<p>channel or &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;,&nbsp;</p>

<p>Platform, in order to make available, display, perform, reproduce, distribute, publish, and promote&nbsp;</p>

<p>such User Content in connection with the &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platforms and services offered or to be offered by &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;. &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, may put restrictions on any of Your User&nbsp;</p>

<p>Content and restrict access and ability to view, download, or print to Users. YOU ARE REMINDED&nbsp;</p>

<p>THAT YOU AGREE NOT TO UPLOAD DOCUMENTS (USER CONTENT) THAT VIOLATE THE&nbsp;</p>

<p>TERMS, INCLUDING USER CONTENT THAT MIGHT INFRINGE UPON THE COPYRIGHTS OR&nbsp;</p>

<p>OTHER RIGHTS HELD BY OTHERS. Such license will apply to any form, media, or technology now&nbsp;</p>

<p>known or hereafter developed.</p>

<p>b) Subject to section 4.3, the license granted by You may terminate as to a specific piece of User&nbsp;</p>

<p>Content once You remove or delete such User Content from any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform if You write us at&nbsp;</p>

<p>Copyright@MYLOOKU.COM with the following in the subject line: &ldquo;Request to Terminate User&nbsp;</p>

<p>Content License&rdquo; requesting such termination. If, however, &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, accepts such requested termination,&nbsp;</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, may maintain&nbsp;</p>

<p>one or more copies of all User Content for its records and any other legal purpose.</p>

<p>c) By uploading User Content, You hereby warrant that Your User Content is free of any digital rights&nbsp;</p>

<p>management (&ldquo;DRM&rdquo;) tools, including any software designed to limit the number of times User&nbsp;</p>

<p>Content may be made available, displayed, performed, distributed, copied, or played. &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, may utilize DRM tools in&nbsp;</p>

<p>connection with Content, including Your User Content.</p>

<h3>4.3 License Grant to Other MYLOOKU.COM Users.</h3>

<p>By uploading, making available for upload, distributing, or disseminating User Content to or through&nbsp;</p>

<p>any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform,&nbsp;</p>

<p>You hereby grant to each User that is authorized to access Your User Content, a non-exclusive&nbsp;</p>

<p>license to access and use Your User Content under the terms indicated by You when You uploaded&nbsp;</p>

<p>or made available for uploading such User Content. Notwithstanding the foregoing, You hereby grant&nbsp;</p>

<p>to each User that is authorized to access Your User Content at least a limited, non-exclusive, license&nbsp;</p>

<p>to view such User Content in the manner contemplated by the Terms and every &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform. The foregoing&nbsp;</p>

<p>license granted by You terminates as to a specific piece of User Content once You remove or delete&nbsp;</p>

<p>such User Content from &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, Platform provided, however, that User rights to Your User Content arising out of&nbsp;</p>

<p>distributions occurring on or prior to deletion of such User Content from any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform survive any termination or&nbsp;</p>

<p>expiration of the license You have granted. Further, such User Content might remain available by&nbsp;</p>

<p>search engines or internet services, for example, that might have cached or archived such User&nbsp;</p>

<p>Content, and &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;,&nbsp;</p>

<p>has no obligation to prevent, limit, or take any other measures to affect that availability.</p>

<p>4.4 User Content Representations and Warranties.</p>

<p>You are solely responsible for Your User Content and the consequences of posting or publishing it.&nbsp;</p>

<p>By uploading and publishing Your User Content, You affirm, represent, and warrant that:</p>

<p>(1) You are the creator and owner of or have all the necessary licenses, rights, consents, releases,&nbsp;</p>

<p>and permissions to use and to authorize &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; Users to use Your User Content as necessary to exercise the&nbsp;</p>

<p>licenses granted by You in this agreement and in the manner contemplated by &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, and these Terms;</p>

<p>(2) Your User Content does not and will not: (a) infringe, violate, or misappropriate any third party&nbsp;</p>

<p>right, including any copyright, trademark, patent, trade secret, moral right, privacy right, right of&nbsp;</p>

<p>publicity, or any other intellectual property or proprietary right or (b) slander, defame, or libel any other&nbsp;</p>

<p>person or entity. YOU WILL NOT UPLOAD WORKS THAT YOU DO NOT HAVE THE RIGHTS TO.&nbsp;</p>

<p>YOU WILL NOT INFRINGE UPON THE COPYRIGHT OR ANY OTHER RIGHT OF ANY OTHER&nbsp;</p>

<p>PERSON OR ENTITY;</p>

<p>(3) Your User Content does not contain or link to any cookies, viruses, adware, spyware, worms,&nbsp;</p>

<p>trojans, or other malicious code; and,</p>

<p>(4) Your User Content does not primarily constitute an advertisement, promotional, or marketing&nbsp;</p>

<p>materials for any person, entity, or business.</p>

<p>Violators of third party rights may be subject to criminal and/or civil liability. &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, reserves all rights and remedies against&nbsp;</p>

<p>any Users who violate these Terms, including the right to remove User Content and to terminate Your&nbsp;</p>

<p>account and access to any and every &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, Platform and service.</p>

<p>4.5 Content Disclaimer</p>

<p>You understand and agree that when using a &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform You will be exposed to Content from a variety of&nbsp;</p>

<p>sources, and that &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, is not responsible for the accuracy, usefulness, or intellectual property rights of&nbsp;</p>

<p>or relating to Content. You further understand and acknowledge that You may be exposed to Content&nbsp;</p>

<p>that is inaccurate, offensive, indecent, or objectionable, and You agree to waive, and hereby do&nbsp;</p>

<p>waive, any legal or equitable rights or remedies You have or may have against &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, with respect thereto.&nbsp;</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, does not&nbsp;</p>

<p>endorse any Content or any opinion, recommendation, or advice expressed therein, and &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, expressly disclaims any&nbsp;</p>

<p>and all liability in connection with Content. If notified by a User or a content owner of Content that&nbsp;</p>

<p>allegedly does not conform to these Terms, &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, may investigate the allegation and determine, in its sole and&nbsp;</p>

<p>unfettered discretion, whether to remove the Content, which it reserves the right to do at any time and&nbsp;</p>

<p>without notice. For further clarity, &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, does not permit copyright infringing activities on any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform.</p>

<p>You understand and agree that all aspects of Content, Services, or other information provided by or&nbsp;</p>

<p>through &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, or any&nbsp;</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform are for&nbsp;</p>

<p>informational purposes only. Your use of any information, or any aspect of any Content or Services&nbsp;</p>

<p>from or through &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;,&nbsp;</p>

<p>or any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform,&nbsp;</p>

<p>regardless of the manner in which it is obtained, is entirely at Your own risk, for which &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, shall not be liable. It shall&nbsp;</p>

<p>be Your own responsibility to ensure that any aspect of any Content, Service, or information available&nbsp;</p>

<p>from or through &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;,&nbsp;</p>

<p>or any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform&nbsp;</p>

<p>meets Your specific requirements. The Content or Services provided by &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, may be inappropriate for Your particular&nbsp;</p>

<p>circumstances.&nbsp;</p>

<p>AS IS THE CASE WITH ALL CONTENT, YOU AGREE THAT &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, IS NOT RESPONSIBLE FOR AND&nbsp;</p>

<p>ASSUMES NO LIABILITY FOR ANY MISTAKES, MISSTATEMENTS, DEFAMATION, OMISSIONS,&nbsp;</p>

<p>FALSEHOOD, OBSCENITY, PROFANITY, OR ANYTHING ELSE, IN THE USER CONTENT, AND&nbsp;</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, DISCLAIMS ALL&nbsp;</p>

<p>EXPRESS, IMPLIED, AND STATUTORY WARRANTIES, REPRESENTATIONS, AND CONDITIONS&nbsp;</p>

<p>WITH REGARD TO USER AND THIRD PARTY CONTENT, INCLUDING, BUT NOT LIMITED TO,&nbsp;</p>

<p>ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,&nbsp;</p>

<p>AND NON-INFRINGEMENT.</p>

<h2>5 PRIVACY POLICY</h2>

<h3>5.1 General</h3>

<p>Your use of a &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;,&nbsp;</p>

<p>Platform or service is governed by &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, privacy policy (the &quot;Privacy Policy&quot;), which is available&nbsp;here&nbsp;and is hereby&nbsp;</p>

<p>incorporated into these Terms by reference. Please read this notice carefully for information relating&nbsp;</p>

<p>to &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, collection,&nbsp;</p>

<p>use, and disclosure of Your personal information. Notwithstanding anything to the contrary in the&nbsp;</p>

<p>Privacy Policy, &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;,&nbsp;</p>

<p>or its agents may contact You, including by telephone or email, including after this Agreement (the&nbsp;</p>

<p>Terms) expires or is terminated, and Your agreement to the Terms constitutes Your request that&nbsp;</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, contact and&nbsp;</p>

<p>communicate with You, including by telephone (land and mobile), email, texts, through social media&nbsp;</p>

<p>such as FaceBook, Twitter, Google+, YouTube, Vimeo, and various blogs.</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, may report to&nbsp;</p>

<p>law enforcement authorities any actions that it believes may be illegal, and any reports it receives of&nbsp;</p>

<p>such conduct. When legally required or at &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, sole and unfettered discretion, &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, may cooperate with law enforcement&nbsp;</p>

<p>agencies in any investigation of alleged illegal activity on a &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform or on the Internet, and may&nbsp;</p>

<p>disclose information that it has about You.</p>

<h3>5.2 Disclosure of Documents Viewed, Downloaded or Printed,&nbsp;</h3>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, Account Information, and other&nbsp;</p>

<p>Information:</p>

<p>Under certain circumstances We may disclose the Content (documents) viewed, downloaded, or&nbsp;</p>

<p>printed, &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Account&nbsp;</p>

<p>information, and other information. Typically those circumstances include when someone questions or&nbsp;</p>

<p>disputes a charge, transaction, or having subscribed to a &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform or Service. If a credit card or&nbsp;</p>

<p>PayPal account holder questions or disputes a charge we may disclose the history of Content&nbsp;</p>

<p>(documents) viewed, downloaded, or printed, as well as the internet protocol (IP) addresses the&nbsp;</p>

<p>purported credit card or PayPal account holder logged in to a &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform from, and dates and times of&nbsp;</p>

<p>logging in, and certain information pertaining to the &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, account, such as the email address provided by the &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, account holder. We may&nbsp;</p>

<p>disclose this information to: the &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, or credit card or PayPal account holder, if such person provides us with sufficient&nbsp;</p>

<p>information for us to reasonably verify that such person is one of the actual &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, or credit card or PayPal account holders;&nbsp;</p>

<p>someone acting on behalf of the actual &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, or credit card or PayPal account holder(s), if such person&nbsp;</p>

<p>provides us with sufficient information for us to reasonably verify that such person is acting on behalf&nbsp;</p>

<p>of the actual &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, or&nbsp;</p>

<p>credit card or PayPal account holder(s); or Our transaction and payment processors and any service&nbsp;</p>

<p>that facilitates Our transaction and payment processing.</p>

<h3>5.3 Cancellation Policy.</h3>

<p>Your &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Loan or&nbsp;</p>

<p>purchase is not refundable. &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, offers a PREVIEW of the Content, You MUST make sure You are satisfied with&nbsp;</p>

<p>the Content after the PREVIEW BEFORE PURCHASE.&nbsp;</p>

<h2>6 PASSWORD RESTRICTED AREAS OF ANY MYLOOKU.COM&nbsp;</h2>

<p>PLATFORM</p>

<p>You may register for a password to log in to any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform and to use certain functions and areas within any&nbsp;</p>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform. As part&nbsp;</p>

<p>of the registration process, You may be asked to select a username and password. &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, may refuse to grant You a&nbsp;</p>

<p>username that &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;,&nbsp;</p>

<p>believes impersonates someone else, is or may be illegal, is or may be protected by trademark or&nbsp;</p>

<p>other proprietary rights law, is vulgar or otherwise offensive, or may cause confusion, as determined&nbsp;</p>

<p>by &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, in its sole and&nbsp;</p>

<p>unfettered discretion. You are responsible for maintaining the confidentiality of Your password and&nbsp;</p>

<p>account, and agree to notify &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, if Your password is lost, stolen, disclosed to an unauthorized third party, or&nbsp;</p>

<p>otherwise may have been compromised. You are responsible for all activities that occur under Your&nbsp;</p>

<p>registered account. You agree to immediately notify &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, of any unauthorized use of Your account or any other breach&nbsp;</p>

<p>of security in relation to any &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, Platform known to You. If You have reason to believe that Your account is no&nbsp;</p>

<p>longer secure (e.g., in the event of a loss, theft, or unauthorized disclosure or use of Your username,&nbsp;</p>

<p>password, or any credit, debit, or charge card number, if applicable), then You agree to immediately&nbsp;</p>

<p>change Your password and notify &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;. You may be liable for the claims against or losses incurred by &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo; or others due to any&nbsp;</p>

<p>unauthorized use of Your account.</p>

<h2>7 THIRD PARTY SITES / SERVICE PROVIDERS / VENDORS</h2>

<h3>7.1 Links To Third Party Sites</h3>

<p>A &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform and&nbsp;</p>

<p>links within Content or communications from &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, may link to other sites or platforms that are not &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, sites or platforms&nbsp;</p>

<p>(&quot;Reference Sites&quot;). &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, is providing these links to You only as a convenience, and &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, is not responsible for such&nbsp;</p>

<p>linked Reference Sites, including, without limitation, the content or links displayed on such Reference&nbsp;</p>

<p>Sites. You agree that &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, assumes no liability and is not responsible at all for anything on or linked from or&nbsp;</p>

<p>occuring as a result of Your visiting any Reference Site. You understand that anything on or linked&nbsp;</p>

<p>from any Reference Site does not represent the positions, opinions, etc. of &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, and &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, does not endorse or affirmatively support&nbsp;</p>

<p>anything on or linked from any Reference Site. Access and use of Reference Sites, including the&nbsp;</p>

<p>information, materials, products, and services on or available through Reference Sites is solely at&nbsp;</p>

<p>Your own risk.</p>

<h3>7.2 Third Party Service Providers / Vendors</h3>

<p>If We mention or link to any third party service provider or vendor, You agree that We are not&nbsp;</p>

<p>responsible for even the most trusted third party service providers / vendors; We encourage You to&nbsp;</p>

<p>determine for Yourself whether any such third party service providers / vendors are right for You and&nbsp;</p>

<p>Your particular needs. &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, is mentioning or providing links to third party service provider or vendors as a&nbsp;</p>

<p>convenience, and even &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo; &nbsp;is remunerated in some fashion, &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, is not responsible for such third party service providers or&nbsp;</p>

<p>vendors, including, without limitation, the goods or services they provide or content or links displayed&nbsp;</p>

<p>on or provided by third party service providers or vendors. You agree that &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, assumes no liability and is not responsible&nbsp;</p>

<p>at all for anything on or linked from or occurring as a result of Your visiting any third party service&nbsp;</p>

<p>provider or vendor Site or Your obtaining any information, goods, or services, from or through such&nbsp;</p>

<p>third party service provider or vendor. You understand that anything on or linked from any third party&nbsp;</p>

<p>service provider or vendor site does not represent the positions, opinions, etc. of &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, and &ldquo;LOOKU&rdquo;,&nbsp;</p>

<p>&quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, does not endorse or&nbsp;</p>

<p>affirmatively support anything on or linked from any third party service provider or vendor Site. Access&nbsp;</p>

<p>and use of third party service provider or vendor sites, including the information, materials, products,&nbsp;</p>

<p>and services on or available through third party service provider or vendor sites is solely at Your own&nbsp;</p>

<p>risk.</p>

<h2>8 Governing Law and Jurisdiction</h2>

<p>Parties to this Agreement agree to submit to the exclusive jurisdiction of the courts of England and&nbsp;</p>

<p>Wales.&nbsp;</p>

<h3>8.1 Waiver</h3>

<p>&ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, failure to enforce&nbsp;</p>

<p>any term or provision of the Terms is not a waiver of such term. The Terms are the entire agreement&nbsp;</p>

<p>between You and &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, and supersede all prior or contemporaneous negotiations, discussions, or&nbsp;</p>

<p>agreements between You and &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;,&nbsp;</p>

<p>&ldquo;GETLOOKU.COM&rdquo;, about the subjects of the Terms, including each &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;,&nbsp;</p>

<p>&ldquo;MYLOOKU.COM&rdquo;, &ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, Platform, Service, and Content.</p>

<h3>8.2 Entire Agreement</h3>

<p>This is the entire agreement between You and &ldquo;LOOKU&rdquo;, &quot;LOOKU.CO&quot;, &ldquo;MYLOOKU.COM&rdquo;,&nbsp;</p>

<p>&ldquo;LOOKU.CO.UK&rdquo;, &ldquo;GETLOOKU.COM&rdquo;, relating to the subject matter herein and supersedes any&nbsp;</p>

<p>previous agreements, arrangements, undertakings or proposals, oral or written.</p>