<div class="col-md-10 col-md-offset-1 after-signup-notice-form">

  <h3 style="color: #666">Thanks for joining Looku.co</h3>

  <p>
  For added security we have sent a verification message to the email provided to confirm this account belongs to you.
  Please verify this email address to continue.".
  </p>

  <br>
  <br>
  <%= link_to 'Back to home page', root_path %>
</div>

<style>
  .after-signup-notice-form {
      margin-top: 40px;
      padding: 35px;
      background-color: #fff;
      color: cadetblue;
      height: 400px;
  }
</style>