<img style="height: 75px;position: relative;" height="75" id="logo" src="http://looku.co/assets/imgo-1df0f3bab7e92fd24ff31d8f4fd95096c34c0de7b67a52df978a7823736b02af.jpg" alt="Lootu.co"/>
<br/>
<h3>Hi <%= @resource.name.present? ? @resource.name.titlecase : "!" %> , Welcome to Looku</h3>
<p>We are nearly there and are glad to have you onboard as we complete the final Alpha stages of our intuitive Looku platform.</p>

<p><%= t('.instruction', :default => "To complete your sign up, please verify your email by using the link below:") %></p>

<p> <a href="<%= "http://looku.co/users/confirmation?confirmation_token=#{@token}" %>">
  Confirm my account
</a></p>

<p>Once completed, students and graduates can get paid for sharing their academic knowledge and existing students everywhere can improve their grades by learning directly from others who have completed their exact or similar module or course. </p>

<p>While we work hard on final developments …….</p>

<h4>Start Earning Now!</h4>

<p>Click the “Upload” tab and start recycling your knowledge. No point in letting all your academic hard work and knowledge go to waste. Recycle it and get paid every time it is viewed anywhere! </p>

<p>For your support, you earn credits, so you keep more of what you earn! <br />
“Upload” tab</p>

<h4>Nothing to Upload?</h4>

<p>Click the “Invite Friends” tab and invite your friends to join Looku. <br /> Simply provide their details and we will send them a quick invitation to get started. <br /> For your support, you earn credits for each friend that joins Looku from your invite which means you can access recycled work for longer, for free! <br /> “Invite Friends” tab </p>

<h4 style="text-align: center;">Knowledge is really is power ……. don’t waste it, <br /> RECYCLE IT and GET PAID! </h4>

<p>
  Best, <br /> The Looku.co team
</p>